.row{
    width: 75%;
    height: 500px; 
    display: flex;
    /* background-color: rgb(232, 11, 11); */
    position: relative;
   top: 75px;
   left: 25px;

} 

body{
    /* background-color: darkgray; */
    background-image: url(./imagesh/download\ \(4\).jfif);
margin: 0px;

}
img{
    width: 100%;
    height: 451px;
}

h1{
    text-align: center;
    color: rgb(248, 243, 247);
}
p{
    color: rgb(247, 241, 241);
}
h2{
    color:rgb(255, 7, 27);
}
.c{
        background-color: blue;
        width: 430px;
        height: 727px;
        border: 2px solid   red;
        position: absolute;
        top: 10px;
    }
.c-1{
    background-color: rgb(4, 155, 237);
    left: 200px;
}
.c-2{
    background-color: darkred;
    left: 804px;
}

.c-3{
    background-color: darkorchid;
    left: 1400px;
}
.c-7-7{
    width: 150px;
    height: 50px;
    position: absolute;
    border: black  2px solid;
    left: 112px;
    top: 621px;
    border-radius: 50px;
    background-color: rgba(8, 143, 8, 0.196);
}
h3{
text-align: center;
}

